
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  width: 2.125in;
  height: 3.37in;
  margin: 10px;
  padding: 0;
  background-image: url('./components/back.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.container:hover > button{
  display: block;
  color: red;
}

.logo-container {
  text-align: center;
  color: #09A3D5;
  margin: 0;
  padding: 6px 0;
}

.logo {
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.logo-address {
  margin-top: -4px;
  font-weight: 600;
  padding: 0;
  font-size: 12px;
}

.avatar {
  text-align: center;
  margin-top: -12px;
}

.image {
  width: 1in;
  height: 1.2in;
}

.user-info {
  color:black;
  padding: 8px 8px;
}

.user-heading {
  font-size: 12px;
  font-weight: 800;
}

.user-details {
  font-size: 12px;
}

.user-info-line {
  margin-top: -5px;
  line-height: 1.2;
}

.designation {
  color: white;
  text-align: center;
  margin: 0;
  position: absolute;
  left: 20%;
  bottom: 0.55in;
}

.sign {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 10px;
  bottom: 0.1in;
  right: 0.1in;
}

.issue {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 10px;
  bottom: 0.1in;
  left: 0.1in;
}

.date {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 10px;
  bottom: 0.2in;
  left: 0.1in;
}

.form {
  max-width: 700px;
  padding: 20px;
}

.cards {
  margin: 0;
  padding: 0;
  width: 8.3in;
  height: 11.7in;
  display: flex;
  flex-wrap: wrap;
}


.d-none {
  display: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
